body{
    margin: 0;
    padding: 0;
}
button{
    padding:16px;
    margin: 2px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    
}

#calc-display{
    display: flex;
    flex-wrap: wrap;
    width: 29.3vh;
    height: 47vh;
    padding-top: 5px;
    margin-top: 10%;
    margin-left: 43%;
    background-color: grey;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 3px;
     
}
input{
    width: 27vh;
    height: 60px;
    border-radius: 10px; 
    border: 1px solid black;
    background-color: white;
    font-size: 35px;
    text-align: right; 
    padding-left: 5px;
}


h1{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
}